:root {
  --primary-100: #8bc34a;
  --primary-200: #6da52d;
  --primary-300: #286400;
  --accent-100: #ffc107;
  --accent-200: #916400;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #f5f5f5;
  --bg-200: #ebebeb;
  --bg-300: #c2c2c2;
}

html,
body {
  background-color: var(--bg-200);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1200px;
  border-radius: 0 0 20px 20px;
  height: 8vh;
  z-index: 2;
  background-color: var(--bg-200);
}
nav a {
  margin: 0 20px;
  padding: 5px 30px;
  color: var(--primary-200);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  /* transition: background-color 0.2s; */
}

nav a:hover {
  background-color: rgba(139, 195, 74, 0.6);
}

main {
  padding-top: 8vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -2;
}

.container {
  width: 1377px;
  height: 691px;
}

#ta-salada {
  background-color: var(--primary-100);
  border-radius: 40px;
  overflow: hidden;
  /* background-image: radial-gradient(var(--primary-200) 10%, var(--bg-200) 10%); */
  display: flex;
  flex-direction: row-reverse;
}

#ta-salada #img-rotator {
  width: 50%;
  display: flex;
  justify-content: right;
}
#ta-salada #img-rotator img {
  height: 100%;
  width: auto;
  transform: translateX(20px);
}

#ta-salada #txt-rotator {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}
#ta-salada #txt-rotator #p1 {
  color: whitesmoke;
  /* height: 100%;
  width: auto; */
}
#ta-salada #txt-rotator #p2 {
  /* color: var(--text-100); */
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  #ta-salada #img-rotator img {
    transform: translateX(30%);
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  #ta-salada #img-rotator img {
    transform: translateX(60%);
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
