@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&family=Kanit&family=Roboto&family=Roboto+Mono:wght@500&display=swap");

:root {
  --blanco: #d0d0d0;
  --negro1: #1b1c1e;
  --negro2: #303030;
  --rojo: #e03e67;
  --verdeClaro: #2ca963;
  --verdeOscuro: #165c34;

  --menuFotosWidth: 40vw;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body,
html {
  background-color: var(--blanco);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* margin: 0px 10px; */
}

#nav-principal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
  z-index: 2;
  background-image: linear-gradient(360deg, transparent, var(--negro1));
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
#nav-principal img {
  margin: 10px;
  transition: 0.1s;
}

#nav-principal #textos-nav-principal {
  display: flex;
  align-items: center;
}
#nav-principal #textos-nav-principal a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--blanco);

  margin-inline: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  transition: 0.2s;
}
#nav-principal #textos-nav-principal a:hover {
  background-color: var(--blanco);
  color: var(--negro1);
}

header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#images {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#images img {
  width: 25%;
  padding-inline: 100px;
  height: auto;

  filter: drop-shadow(0 0 2px white);
  transition: 1s;
}
#images img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px white);
}

#fondo-img {
  width: 100%;
  height: 100%;
  background-image: url(src/fondo.png);
  background-size: cover;
  transform: scale(1.2);
}
#vignette {
  width: 100%;
  height: 100%;
}
#arrow-down {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: calc(50% - 10% / 2);
  width: 10%;
  filter: drop-shadow(0 0 10px white);
  transition: 2s;
}
#arrow-down:hover {
  transform: translateY(20px);
}

#mouse-focus {
  position: absolute;
  top: calc(-500vh / 2);
  left: calc(-300vw / 2);
  width: 300vw;
  height: 500vh;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.49) 10%);
  z-index: 5;
  pointer-events: none;

  opacity: 0;
}

#login {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  /* background-color: #1b1c1e9b; */

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
}
#login-modal-trigger {
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}
#login-modal {
  z-index: 12;
  backdrop-filter: blur(15px);
  transition: opacity 0.5s;
  opacity: 0;

  width: 500px;
  padding: 20px;
  background-color: rgba(89, 80, 69, 0.25);
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#login #cerrar {
  grid-area: 1/4/1/5;
  justify-self: end;
}
#login #cerrar img {
  width: 50px;
  transition: transform 0.2s;
}
#login #cerrar img:hover {
  transform: rotate(90deg);
}
#login #titulo {
  grid-area: 1/2/1/4;
  text-align: center;
}
#login h1 {
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
}
#login-inputs {
  grid-area: 2/1/4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
#login-inputs input {
  box-sizing: border-box;
  margin: 10px;
  padding: 15px;
  width: 300px;
  border: none;
  border-radius: 2px;
}
#login-inputs input:focus {
  outline: none;
}
main {
  width: 100vw;
  height: 200vh;
}
