
:root{
    --col1:#8BC34A;
    --col2: #7DAC66;
    --col3:#B9CFBA;

    --col4:#D4CF69;
    --col5:#676D17;
    --col6:#384D0C;
    --col7:#0C1C02;


}


body{
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color:whitesmoke;
}

#userIMG{
    margin: 20px;
    padding: 20px;
    background-color: red;
    border-radius: 50%;
}


#btns{
align-self: center;
justify-self: center;

}

#aux img{
    width: 30px;
}
#aux input{
    border-style: none;
}

#aux input:focus{
   outline: none;
}

#aux{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 22px;
    padding: 6px;
    border-color: var(--col7);
    border-style: solid;
   
    
}

nav a{
    font-family: 'Inter', sans-serif;
    color: var(--col6);
    text-decoration: none;
    padding-inline: 20px;
    padding-block: 6px;
    display: inline-block;
    transition: 0.5s;
    margin-inline: 10px;


    


}



nav a:focus{
    transform: scale(1.1); 
    background-color: var(--col2);
    color: white;
    border-radius: 3px;
}
nav a:hover{
     transform: scale(1.1); 
    background-color: var(--col3);
    border-radius: 3px;
    

}
