:root {
  --col1: #8bc34a;
  --col2: #7dac66;
  --col3: #b9cfba;

  --col4: #d4cf69;
  --col5: #676d17;
  --col6: #384d0c;
  --col7: #0c1c02;
}

body {
  margin: 0;
  background-image: url(src/loginBackground.png);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left: 5%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
}

#login {
  width: 75%;
  height: 90%;
  background-color: white;
  border-radius: 1vh;
  display: flex;
  justify-content: start;
  flex-direction: column-reverse;
  overflow: hidden;
  background-image: url("src/coso.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#login article {
  width: 50%;
  /* border: 1px solid black; */
}

#botonIngresar {
  padding: 20px;
  border-radius: 0.4vh;
  width: 50%;
  height: 100%;
  border: none;
  background-color: var(--col1);
  box-shadow: inset 0 0 10px black;
  font-size: 6vh;
  font-family: "Imprima", sans-serif;
  transition: transform 0.2s;
}
#botonIngresar:hover {
  transform: translateY(-10px);
}
#botonIngresar:active {
  transform: translateY(0);
}

#inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-right: 20px;
}

#textosdosahoraespersonal p {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.479));
}

#MensajePrimario {
  margin: 0;
  font-size: 10vh;
  font-family: "Inspiration", cursive;
}
#MensajeSecundario {
  font-size: 5vh;
  margin: 0;
  font-family: "Inder", sans-serif;
}
#Bienvenida {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* transform: scale(1.5); */
}

#textosdosahoraespersonal {
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 75%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  /* top: calc(50% / 2); */
}

#textos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputsYingresar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
  margin-top: 50px;
}

fieldset {
  margin-block: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10vh;
  width: 90%;
}
fieldset input {
  border-style: none;
  width: 300px;
  height: 20px;
  padding-block: 5px;
}

fieldset input:focus {
  outline: none;
}

legend {
  padding-inline: 5px;
  font-family: "Inria Serif", serif;
  font-style: italic;
}

#recordarSection {
  align-self: flex-start;
  display: flex;
}
#recordarSection p {
  width: max-content;
  font-size: 40px;
  font-family: "Inria Serif", serif;
}
#recordar {
  width: 50px;
}

#linkAregistrarse {
  display: flex;
  align-items: center;
  font-size: large;
  margin: auto;
  margin-bottom: 0;
}
