:root {
  --col1: #8bc34a;
  --col2: #7dac66;
  --col3: #b9cfba;

  --col4: #d4cf69;
  --col5: #676d17;
  --col6: #384d0c;
  --col7: #0c1c02;
}

body {
  margin: 0;
  background-image: url(src/loginBackground.png);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-left: 5%; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
}

#login {
  height: 80vh;
  background-color: white;
  border-radius: 1vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  overflow: hidden;
  background-image: url("src/coso.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: ; */
  width: 100%;
  height: 100%;
}

#botonIngresar {
  padding: 20px;
  border-radius: 0.4vh;
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--col1);
  background-image: linear-gradient(-90deg, var(--col1), var(--col2));
  font-size: 200%;
  font-family: "Imprima", sans-serif;

  transition: transform 0.2s;
}
#botonIngresar:hover {
  transform: translateY(-0px) scale(1.02);
}
#botonIngresar:active {
  transform: translateY(0) scale(1);
}

#inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-right: 20px;
}

#textosdosahoraespersonal p {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.479));
}

#mensajePrimario {
  margin: 0;
  font-size: 10vh;
  font-family: "Inspiration", cursive;
}
#mensajeSecundario {
  font-size: 30px;
  margin: 0;
  font-family: "Inder", sans-serif;
}
#bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* transform: scale(1.5); */
}

#textos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputsYingresar {
  justify-content: space-around;
  height: auto;
}

#recordarSection {
  display: flex;
  align-items: center;
}
#recordarSection p {
  width: max-content;
  font-size: 50px;
  font-family: "Inria Serif", serif;
}
#recordarSection input {
  height: 100px;
  margin-inline: 10px;
}
#recordar {
  width: 50px;
}

#linkAregistrarse {
  display: flex;
  align-items: center;
  font-size: large;
  margin: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  /* #botonIngresar {
    font-size: 40px;
  } */
}
@media (max-width: 990px) {
  #login {
    background-image: none;
  }
  #contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mensajeSecundario {
    display: none;
  }
}
