#Cuenta {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: left;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
}

h1 {
  font-weight: 900;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.381));
}
p {
  filter: drop-shadow(2px 1px 1px rgba(61, 61, 61, 0.5));
}
#fondo {
  display: flex;
  padding: 85px 170px;
  flex-direction: column;
  align-items: flex-start;
  gap: 85px;
  flex: 1 0 0;
  align-self: stretch;
  background: rgb(133, 130, 189);
  background: linear-gradient(40deg, rgb(105, 103, 147) 0%, rgba(61, 186, 166, 1) 100%);
  margin-top: 10px;
  margin-block-end: 160px;
  margin-right: 85px;
  margin-left: 85px;
}
#btnCambiarNombre {
  display: flex;
  width: 160px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  height: 50px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
#btnCambiarContra {
  display: flex;
  width: 160px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  height: 50px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
#btnCambiarDireccion {
  display: flex;
  width: 160px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  height: 50px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

#Cuenta section {
  width: 550px;
  display: flex;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 240% */
  justify-content: space-between;
}
#Cuenta section a {
  text-decoration: none;
}

.btnPrimario {
}

/* Add media queries for responsiveness */
@media screen and (max-width: 923px) {
  #Cuenta {
    font-size: 32px;
  }

  #Cuenta Section {
    width: 90vw;
  }

  #fondo {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  #btnCambiarNombre,
  #btnCambiarContra,
  #btnCambiarDireccion {
    width: 100%;
    margin-top: 10px;
  }
}
