#adminMenu{
    background: rgb(112,112,112);
    background: linear-gradient(180deg, rgb(77, 76, 76) 0%, rgba(178,180,180,1) 100%);
width: 20%;
height: 1130px;
display: flex;
margin-right: 20px;
text-align: center;
justify-content: center;
align-items: center;
flex-direction: column;

}

#MenuButtons{
height: 50%;
display: flex;
margin: 20px;
text-align: center;
flex-direction: column;
}

#MenuButtons button{
    height: 10%;
    background-color: rgb(0,0,0,0);
    color: white;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

#containerArticle{
height: 100%;
display: flex;
flex-direction: column;
gap: 30px;
}


body{
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    
}
#adminMenu h1{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}


#stockTitle h1{
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;


}




.stockInputs{
    background-color: #ffffff;
    padding: 20px;
}
#stock{
    padding: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 70%;
    height: 160%;
    background-color: rgb(211, 211, 211);
}
#btn{
    margin-top: 35px;
}

.Menuclass{
    margin-top: 20px;
    display: flex;
    background-color: rgb(192, 192, 192);
    width: 430px;
    height: 100px;
    border-radius: 10px;
    transition:0.2s
}


.Menuclass:hover{
    transform: scale(1.04);
    background-color: rgb(240, 240, 240);
}

.MenuFoto{
    display: flex;
    background-color: rgb(110, 110, 110);
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 0 0 6px;
    margin-right: 10px;
}

.MenuStock{
    height: 20px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    transition: 0.3s;
    background-color: rgba(178,180,180,0);
}

.MenuFeedback{
    color: black;
    line-height: 6px;
    

}

.MenuName{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    color: black;

}

.MenuStock:hover {
    transform: scale(1.02,1.02);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the modal content */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 40%;
    height: 50%;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#ModalOP{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

#close-modal{
    margin-top: 20px;
    display: flex;
}

.stockInfo{
    height: 100%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.modal-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.modal-img{
    background-color: black;
    width: 200px;
    height: 200px;
}

#stocknumber{
    width: 200px;
}

.btnPrimario{
    color: black;
}