.textfield input {
  border: none;
}
.textfield input:focus-visible {
  outline: none;
}

body {
  align-items: center; /*Centrar verticalmente */
  justify-content: center; /*Centrar horizontalmente */
  display: flex;
}

#login {
  width: 90vw;
  height: 80vh;
  background-color: rgb(105, 105, 105);
  justify-content: center;
  display: flex;
  padding-inline: 120px;
  gap: 70px;
}

#Login-Title {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#login-contenido {
  display: flex;
  width: 370px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

#form-login {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#btnIngresar {
  height: 45px;
  padding: 0;
}

#inputMail {
  width: 100%;
}

#login-image {
  width: 35%;
  align-items: center;
  display: flex;
}
#login-image img {
  width: 100%;
}

#inputPass {
  width: 60%;
}

#botones {
  gap: 6px;
  font-size: small;
  color: white;
  display: flex;
  align-items: end;
}

#botones a {
  color: white;
}
#mail-section {
  display: flex;
  position: relative;
}

#pass-section {
  display: flex;
  position: relative;
}
#pass-section .error {
  right: 148px;
}
#inputMail {
  z-index: 1;
}

#inputPass {
  z-index: 1;
}
.error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ff7777;
  position: absolute;
  width: 50px;
  height: 100%;
  /* transform: translate(45px); */
  transition: 0.3s cubic-bezier(0.44, 0.5, 0.55, 1.22);
  right: 0;
  align-items: center;
  background-image: url(../src/cross.svg);
  background-position: center;
  background-size: contain;
  border-radius: 0 6px 6px 0;
}
