body {
  margin: 0;
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  background-color: white;
  position: absolute;
  top: 0;
  display: flex;
  width: 90vw;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#nav a {
  padding-inline: 5px;
  text-decoration: none;
  color: black;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 805px) {
  #logo {
    display: none;
  }
  #navbar {
    justify-content: center;
  }
}
