#adminMenu{
    background: rgb(112,112,112);
    background: linear-gradient(180deg, rgb(77, 76, 76) 0%, rgba(178,180,180,1) 100%);
width: 20%;
height: 1130px;
display: flex;
margin-right: 20px;
text-align: center;
justify-content: center;
align-items: center;
flex-direction: column;

}

#MenuButtons{
height: 50%;
display: flex;
margin: 20px;
text-align: center;
flex-direction: column;
}
#MenuButtons button{
    height: 10%;
    background-color: rgb(0,0,0,0);
    color: white;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

#containerArticle{
height: 100%;
display: flex;
flex-direction: column;
gap: 30px;
}


body{
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    
}
#adminMenu h1{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}


#sectionTitle{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    background-color: #e6e6e6;


}

#parametrizarInputs{
    background-color: #ffffff;
    padding: 20px;
    height: 100%;
}
#parametrizar{
    padding: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 160%;
    background-color: rgb(211, 211, 211);
}
#btn{
    margin-top: 35px;
}

.remove{
    background-color: #e6e6e600;
border: none;
outline: hidden;
transition: 0.4s;
}
.remove:hover{
    transform: scale(1.1,1.1);
}

.modify{
background-color: #e6e6e600;
border: none;
outline: hidden;
transition: 0.4s;
}

.modify:hover{
    transform: scale(1.1,1.1);
}

#Add{
    background-color: #e6e6e600;
border: none;
outline: hidden;
transition: 0.4s;
}

#Add:hover{
    transform: rotate(-20deg) translate(0px,-5px) scale(1.07,1.07);
   
}

#svgimage{
    height: 40px;
    width: 40px;
    object-fit: cover;
    fill: rgb(234, 255, 212);
    transition: 0.4s;
 
}
#svgimage:hover{
    filter: drop-shadow(0px 0px 4px rgba(145, 255, 128, 0.871));
}

#paraeditor{
    display: flex;
}


#Pregunta{
    padding: 4px;
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
    margin: 10px;
}

#Respuesta{
    padding: 4px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px;
    padding-bottom: 10px;
}

#edit-body{
    padding: 10px;
}

.preguntaBody{
    background: rgb(145,145,145);
    background: linear-gradient(0deg, rgb(157, 157, 157) 0%, rgb(210, 210, 210) 100%);
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 4, 0.2));
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    filter: drop-shadow(0px 0px 40px rgba(27, 27, 27, 0.672));
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 60%;
    height: 70%;

}
#modalBody{
    font-size: 10px;
    gap: 10px;
}

#modalForm{
    padding: 20px;
    margin:30px;
    gap: 10px;
    font-size: 20px;
    font-weight: 900px;
    width: 200px;
    height: 20px;
}



#modificarFAQ:hover {
    background-color: white;
    outline: auto;
    color: #008CBA;
}

.close {
    margin: 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalTitle{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}