#registro-form section {
  display: flex;
}
#registro-contenido {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#registro-form {
  padding-block: 20px;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.row {
  margin-bottom: 1rem;
}
