* {
  font-family: Roboto;
}

h1 {
  padding: 0;
  margin: 0;
}
#ticket-interno {
  /* width: fit-content; */
  min-width: 200px;
  padding: 10px;
  border: 3px solid black;
  text-align: center;
  margin: 10px;
  max-width: 30%;
  background-image: linear-gradient(153deg, rgba(238, 174, 202, 1) 0%, rgba(174, 255, 147, 1) 0%, rgba(156, 156, 255, 1) 85%);
}
#ticket-interno input {
  padding: 10px;
  border: none;
  box-shadow: 1px 2px 5px black;
}
section {
  display: flex;
  flex-wrap: wrap;
}
#numStock {
  width: 50%;
}
body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(153deg, rgba(238, 174, 202, 1) 0%, rgba(202, 224, 195, 1) 0%, rgba(194, 194, 195, 1) 68%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#ticket {
  border-radius: 8px;
  background-color: gray;
  width: fit-content;
  padding: 20px;
  box-shadow: -5px 5px 15px black;
}
#ticket input,
textarea {
  border-radius: 6px;
}
